/* @tailwind base;
@tailwind components; 
@tailwind utilities;  */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&family=Inter:wght@400;700&display=swap');

/* @layer base {
  :root {

  }
} */

:root {
  --cream: #FFF3DA;
  --light-purp: #DFCCFB;
  --med-purp: #D0BFFF;
  --dark-purp: #BEADFA;
  --darkest-purp: #6a53bb;
  --green: #b4fb98;
} 

/* body {
font-family: 'Bricolage Grotesque', sans-serif;
background-color: var(--cream);
margin: 0px;
}


.nav-container{
  display: flex;
  padding: 0.5rem;
  justify-content: flex-start; 
  justify-content: space-between; 
  align-items: center; 
  width: 100%;
  background-color: var(--light-purp);
  }

.logo {
  margin-left: 1em;
  font-size: 28px;
  color: var(--darkest-purp)
}
  
a {
    justify-content: flex-end; 
    align-items: center; 
    text-decoration: none;
  }
  
a:hover {
    color: black;
  }



.login-container {
  padding: 0.5em;
  margin-right: 0.5em;
}

.login {
    background-image: linear-gradient(to bottom, var(--med-purp) , var(--dark-purp) );
    justify-content: space-between;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
  }

.login :hover {
    background-image: linear-gradient(to bottom, var(--med-purp), var(--dark-purp));
    text-decoration: none;
  } */

